<p id="notice"><%= notice %></p>

<h1>Friend Requests</h1>

<%= form_tag(friend_requests_path, method: :get) do %> 
  <label for="status">Filter Requests</label>
  <select id="status" name="status">
    <option <%= 'selected ' if params[:status].nil? %> value="">All</option>
    <option <%= 'selected ' if params[:status] == 'accepted'%> value="accepted">Accepted</option>
    <option <%= 'selected ' if params[:status] == 'pending'%> value="pending">Pending</option>
  </select>
  <label for="requester">Which requests do you want to see?</label>
  <select id="requester" name="requester">
    <option <%= 'selected ' if params[:requester] == 'received'%> value="received">Received</option>
    <option <%= 'selected ' if params[:requester] == 'sent'%> value="sent">Sent</option>
  </select>
  <%= submit_tag "Filter" %>
<% end %>
<table>
  <thead>
    <tr>
      <th>Requester</th>
      <th>Requested</th>
      <th>Accepted</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @friend_requests.each do |friend_request| %>
      <tr>
        <td><%= friend_request.requester.username %></td>
        <td><%= friend_request.requested.username %></td>
        <td><%= friend_request.accepted %></td>
        <td>
          <%= form_for friend_request do |f| %>
            <%= f.hidden_field :accepted, value: true %>
            <%= f.submit "Accept" %>
          <% end %>
        </td>
        <td><%= link_to 'Show', friend_request %></td>
        <td><%= link_to 'Edit', edit_friend_request_path(friend_request) %></td>
        <td><%= link_to 'Destroy', friend_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Friend Request', new_friend_request_path %>
